


.hero {
    min-height: 75vh;
    display: grid;
    place-items: center;
    padding: 2rem;
    background-image: url('../img/undraw_moonlight_-5-ksn.svg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


@media(max-width:767px) {



    .hero{
        display:none;
    }
}

/*.content{

    display:none;
}*/

.loader{

    height:100vh;
    width:100vw;
    overflow:hidden;
    background-color :black;
    position:absolute;
}