




.carousel-item{

    
    

}

.card-bottom{
    right:0;
    margin-top:-178px;
    border-radius:0;



}

.card-text{

    color:#aeaeae;

}

.card-color{


}





.section-padding{



}
